[Desktop Entry]
Version=1.0
Type=Application
Name=Crazyflie client
Comment=
Exec=python3 /home/bitcraze/projects/crazyflie-clients-python/bin/cfclient
Icon=/home/bitcraze/Pictures/vm_client_logo.png
Path=/home/bitcraze/projects/crazyflie-clients-python/
Terminal=true
StartupNotify=false
